body {
    background-color: grey;
}
.container {
    background-color: aquamarine;
    width: 70%;
    height: 80%;
}

#timer {
    height: 200px;
    width: 200px;
    background-color: blueviolet;
    font-size: 50px;
}